---
/**
 * The head for our theme
 * This is the template that displays all of the <head> section and everything up until </head>
 */
import '../assets/styles/main.scss';
import SocialMeta from "./socialMeta.astro";
const { pageTitle, comic } = Astro.props;
const comicName = import.meta.env.COMIC_NAME;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>{comicName} - {pageTitle}</title>

	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="manifest" href="/site.webmanifest" />

	<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Anton" rel="stylesheet">
	
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

	<SocialMeta props={Astro.props} />

</head>