---
---
<div id="help-overlay" class="hidden"></div>
<div id="help-popup" class="hidden">
    <button class="close">x</button>
    <h3>Desktop Help</h3>
    <ul>
        <li>Use the right and left buttons to navigate between comics</li>
        <li>Long click to zoom</li>
    </ul>
    <h3>Mobile Help</h3>
    <ul>
        <li>Swipe left and right to move between comics</li>
        <li>Long press to zoom</li>
    </ul>
</div>