---

---

<svg
    class="small"
    role="img"
    version="n1.1'"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="68.414px"
    height="99.141px"
    viewBox="0 0 68.414 99.141"
    enable-background="new 0 0 68.414 99.141"
    xml:space="preserve"
>
    <title>Previous Post</title>
    <path
        class="arrow-innards"
        fill="#AFA0D3"
        d="M62.811,17.182c-10.45,1.383-20.815-1.246-31.278-0.864c-0.253,0.01-0.475,0.067-0.671,0.154	c-0.401,0.083-0.767,0.354-0.994,0.875c-2.822,6.462-8.565,10.968-13.036,16.24c-4.969,5.859-9.777,11.914-14.268,18.148	c-0.874,1.213-0.44,1.359,1.762,3.174c6.217,5.162,12.165,9.482,18.382,14.646c5.622,4.67,9.695,10.816,14.516,16.244	c0.694,0.781,1.28,0.508,3.441,0.074c2.276-0.127,11.864-1.641,18.404-0.666c0.33,0.049,1.051,0.186,1.316,0.088	c1.619-0.023,3.113-0.84,2.018-2.455c-4.646-6.846-10.281-12.324-16.49-17.729c-4.889-4.256-9.261-9.045-14.923-12.117	c2.275-1.475,4.095-3.508,6.033-5.461c2.939-2.965,6.486-5.295,9.577-8.096c3.295-2.988,6.188-6.482,9.139-9.803	c2.584-2.907,5.256-4.598,7.444-7.859c0.25-0.371,0.871-1.277,0.967-1.722C64.337,19.611,64.552,16.953,62.811,17.182z"
    ></path>
    <path
        d="M66.646,14.497c-11.273,1.492-22.454-1.344-33.741-0.932c-0.273,0.01-0.512,0.072-0.724,0.166	c-0.433,0.089-0.827,0.381-1.072,0.943c-3.044,6.971-9.24,11.832-14.063,17.519C11.686,38.515,6.5,45.047,1.655,51.772	c-0.942,1.309-0.475,1.465,1.9,3.423c6.707,5.569,13.123,10.229,19.829,15.8c6.064,5.037,10.458,11.667,15.659,17.522	c0.749,0.844,1.38,0.549,3.712,0.08c2.455-0.137,12.798-1.77,19.852-0.719c0.357,0.054,1.134,0.2,1.422,0.096	c1.746-0.024,3.357-0.905,2.175-2.647c-5.011-7.387-11.09-13.296-17.787-19.126c-5.273-4.591-9.99-9.756-16.099-13.071	c2.454-1.59,4.418-3.784,6.508-5.891c3.171-3.197,6.997-5.712,10.331-8.734c3.555-3.223,6.676-6.991,9.858-10.573	c2.787-3.137,5.671-4.96,8.03-8.479c0.269-0.4,0.938-1.378,1.042-1.857C68.291,17.117,68.524,14.249,66.646,14.497z M55.49,26.298	c-2.904,3.269-5.82,6.533-8.969,9.571c-2.984,2.881-6.438,5.28-9.564,8.004c-2.932,2.555-4.717,4.885-6.189,5.697	c-1.083,0.598-3.211,2.501-3.712,2.938c-1.542,1.063-1.18,1.854,0.693,2.563c7.206,2.726,12.426,8.748,18.032,13.767	c5.395,4.829,10.462,9.496,14.836,15.134c-6.602-0.423-13.116,0.818-19.743,0.979c-4.599-5.316-8.666-11.096-13.923-15.809	c-6.686-5.994-13.979-11.361-20.899-17.086c4.731-6.482,9.744-12.856,15.05-18.863c4.515-5.11,9.915-9.674,12.89-15.919	c9.718-0.182,19.36,1.851,29.057,1.285C60.763,21.329,57.875,23.615,55.49,26.298z"
        class=""></path>
</svg>
