@use "variables";

footer.site-footer {
    display: flex;
    flex-direction: column;
    background-color: variables.$theme-dark;
    padding: 20px;

    .site-footer__menu-wrapper {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 20px;

        .site-footer__menu-column {
            color: variables.$theme-medium;
            margin-right: 50px;

            h4 {
                font-size: 1.2rem;
                margin-bottom: 10px;
            }
        }

        .site-footer__menu-column:last-child {
            margin-right: 0;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        ul li, ul li a {
            color: variables.$theme-medium;
            text-decoration: none;
        }
    }
    
    .copyright {
        display: flex;
        justify-content: center;
        p {
            color: variables.$theme-medium;
            font-family: variables.$secondary-font;
            font-size: 14px;
            font-weight: 700;
        }
    }

    @media screen and (min-width: variables.$tablet) { 
        .site-footer__menu-wrapper {
            margin-top: 65px;
        }
    }
}

#help-popup {
    .hidden {
        display: none;
    }
}