---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Navigation from '../components/navigation.astro';

const { pageTitle, comic } = Astro.props;
const headerSrc = import.meta.env.HEADER_IMAGE_PATH;
const headerAlt = import.meta.env.COIMC_NAME;

---
<Header pageTitle={pageTitle} comic={comic} />
<div id="page" class="site">
	<a class="skip-link screen-reader-text" href="#primary">Skip to content</a>

	<header id="masthead" class="site-header">
		<div class="site-branding">
				<h1 class="site-title">
                    <a href="" rel="home">
                        <img src={headerSrc} width="1000" height="123" alt={headerAlt} decoding="async" fetchpriority="high">
                    </a>
                </h1>
		</div><!-- .site-branding -->
        <Navigation/>

	</header><!-- #masthead -->

    <slot />
<Footer />
